.venv/
__pycache__/
**/.cache/*
!.cache/experiment_figures/
.cache/experiment_figures/*
!.cache/experiment_figures/Models_Comparison_ga-standard/
!.cache/experiment_figures/Models_Comparison_pso/
!.cache/experiment_figures/Models_Comparison_rs/
!.cache/experiment_figures/Optimizers_Comparison_cnn/
!.cache/experiment_figures/Optimizers_Comparison_dt/
!.cache/experiment_figures/Optimizers_Comparison_knn/
.cache/experiment_figures/*/*
!.cache/experiment_figures/Models_Comparison_ga-standard/models_comparison_ga-standard.png
!.cache/experiment_figures/Models_Comparison_pso/models_comparison_pso.png
!.cache/experiment_figures/Models_Comparison_rs/models_comparison_rs.png
!.cache/experiment_figures/Optimizers_Comparison_cnn/all_experiments_cnn.png
!.cache/experiment_figures/Optimizers_Comparison_dt/all_experiments_dt.png
!.cache/experiment_figures/Optimizers_Comparison_knn/all_experiments_knn.png
.ruff_cache/
*.pyc
.aim/
**/runs/
*.egg-info/