.venv/
__pycache__/
.cache/
.ruff_cache/
*.pyc
.aim/
**/runs/
*.egg-info/
# Images shown in README
**/models_comparison_ga-standard.png
**/models_comparison_pso.png
**/models_comparison_rs.png
**/all_experiments_cnn.png
**/all_experiments_dt.png
**/all_experiments_knn.png